body { 
	margin: 0;
	background: #f3f3f3;
	font: 13px/1.6 "Open Sans", sans-serif;
	color: #777;
	min width: 1170px;
}
.clearfix:after, 
.container:after {
	content: 'AAAAAAA';
	display: block;
	clear: both;
}
.page {
	overflow: hidden;
}

a:hover {text-decoration: none;
} 

.header {
	background: #76c7c0 url(../images/decor.png) repeat-x 0 100%;
	padding: 25px 10px;
}
.container {
	width: 1170px;
	margin: 0 auto;	
}
.logo {
	float: left;
	margin: 3px 15px 0 9px;
}
.header-right {
	float: right;}

/*main nav*/
.main-nav {
	float: left;
	font-size: 14px;
}
.main-nav ul {
	padding: 0;
	margin: 0 50px 0 0;
	list-style: none;
	float: left;
}
.main-nav li {
	display: inline-block;
	margin: 0 0 0 5px;	
	position: relative;
}
.main-nav li.active a{
	background: #62a29e;
	box-shadow: inset 0 -3px 0 #52Bb86;
}
.main-nav li:hover a{
	background: #e8645a;
	box-shadow: inset 0 -3px 0 #52Bb86;
}
/*drop menu*/
.main-nav .drop {
	position: absolute;
	top: 100%;
	left: 0;
	background: #e8645a;
	z-index: 999;
	width: 250px;
	display: none;
}
.main-nav li:hover .drop {
display: block;
}
.main-nav li:hover .drop a {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}
.main-nav li:hover .drop li:hover a {
	background: #f00;
}
.main-nav .drop li {
	margin: 0;
	display: block;
}
.main-nav a {
	display: block;
	padding: 5px 14px;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.ico-search{
	vertical-align: top;
	display: inline-block;
}



.section-home {
	text-align: center;
	color:#ffffff;
    border: 0;
    overflow: hidden;
    padding: 160px 0px 190px 0px;
    background: #7f8c8c;
	/*display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;*/
}
  
.container-sectionhome {
	width: 1170px;
	margin: 0 auto;
	
}

.container-sectionhome h1{
	padding: 0px 15px 0px 15px;
	display: inline-block;
	color:#ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	background: #e15043;
	font-size: 50px;
	line-height: 90%;
	border-radius: 4px;
	font-weight: 900;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    clear: right;
}
.clearfix:after, 
.container:after {
	content: '';
	display: block;
	clear: both;}

.container-sectionhome p{
	padding: 8px 25px 10px 25px;
	display: inline-block;
	width: 420px;
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	background: #4f443f;
	font-size: 16px;
}
.main-home{
	overflow: hidden;
}
.options main{
	margin: 0 auto;
}
.options {
	list-style-type: none;
}
.options li {
	display: inline-block;
	float: left;
	margin: 0 0 0 5px;
}

.section {
	background: #ececec;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
.container-section {
	width: 1170px;
	margin: 0 auto;	
}
.section-right {
	float: left;
	display: inline-block;
}

.container-section h2{
padding: 45px 0px 0px 25px;
font-size: 30px;
line-height: 50%;
color:#7f8c8c;
margin-top: 0px;
margin-bottom: 0px;
}
.container-section p{
font-size: 13px;
}
.container-section button{
	color:#ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	background-color: #e65f51;
	display: inline-block;
	float: right;
	font-size: 20px;
	margin-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right-width: 0px;
    margin-right: 40px;
}


/*SERVICES*/
.wrapper {
/*background: #f5e4df;*/
background: #f3f3f3;
padding: 100px 0px 150px 0px;	
overflow: hidden;
width: 1170px;
margin: 0 auto;
position: ;
}

.product-blocks {
margin: 0px 0px 0px 0px;
background: #f8f8f8;

}

.product{
	border: 1px solid /*transparent*/;
	width: 270px;
	float: left;
	margin-left: 10px;
    margin-right: 10px;
	height: 290px;
	position: relative;
}
	
.product-text {
	border: 1px solid;
	margin-top: 0px;
}
.product img {
	margin-left: 40%;
	/*left: 50%;
	vertical-align: top;*/
}

.product-text h3{
	color: #7f8c8c;
	text-align: center;
}
.product-text p{
	text-align: center;
}
.product button{
	margin-left: 30px;
	padding: 20px 70px 20px 70px;
	display: block;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	color: #ffffff;
	background-color: #e2534b;
	position: absolute;
	bottom: -1px;
}



/*FOOTER*/
.footer{
	background-color: #76c7c0;
	color: ;
	padding: ;
	margin: 0 auto;
	width: 1170px;
	overflow: hidden;
}
.container-adress {
	display: inline-block;
	float: left;
	width: 270px;
}
address{
font-style: italic;
}
.container-company, .container-community {
	display: inline-block;
	float: left;
	width: 270px;
}
